@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F4F7FA;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #F4F7FA;
  }
}

.mobile-menu {
  @apply md:hidden;
}
.toggle-inactive {
  @apply bg-white p-6 space-y-6 fixed z-40 w-64 h-screen transition-transform -translate-x-full md:-translate-x-0;
}

.toggle-active {
  @apply bg-white p-6 space-y-6 fixed z-40 w-64 h-screen transition-transform translate-x-0 md:translate-x-0;
}